:root {
  --dfx-blue: #072440;
  --white: #fff;
  --dfx-red: #f5516c;
}

.max-400 {
  max-width: 400px;
}

.button-2 {
  color: #fff;
  text-align: center;
  background-color: #f5516c;
  border-radius: 8px;
  margin-right: 0;
  font-family: Inter, sans-serif;
  font-weight: 700;
}

.div-block-3 {
  justify-content: space-between;
  display: flex;
}

.section {
  background-color: var(--dfx-blue);
}

.section.hero {
  height: 100vh;
  background-color: var(--dfx-blue);
  border-radius: 0;
  padding-top: 220px;
  position: relative;
}

.statement.white {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 22px;
  padding-bottom: 22px;
  font-family: Inter, sans-serif;
  font-size: 60px;
  line-height: 65px;
}

.image-bg {
  width: 50%;
  height: 100vh;
  background-image: url('../images/Wallet.png');
  background-position: 50%;
  background-size: cover;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.text-block {
  color: #fff;
  font-family: Inter, sans-serif;
  font-weight: 200;
}

.container {
  max-width: 1200px;
  object-fit: fill;
  flex-direction: row;
  flex: 0 auto;
  justify-content: space-between;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  position: fixed;
}

.paragraph {
  max-width: 100%;
  color: #fff;
  margin-bottom: 20px;
  font-family: Inter, sans-serif;
  font-weight: 200;
}

.paragraph.centre {
  text-align: center;
  font-weight: 400;
}

.section-2 {
  height: 100vh;
}

.navi {
  z-index: 99;
  height: 60px;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.image, .image-2 {
  z-index: 99;
  position: fixed;
}

.navi-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.link {
  flex: 1;
  padding-left: 20px;
}

.container-2 {
  max-width: 1200px;
  object-fit: fill;
}

.navbar-logo-center {
  opacity: 1;
  -webkit-text-fill-color: inherit;
  object-fit: cover;
  background-color: #072440;
  background-clip: border-box;
  position: static;
  overflow: visible;
}

.navbar-logo-center-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.navbar-logo-center-container.shadow-three {
  width: 100%;
  max-width: 1140px;
  opacity: 1;
  -webkit-text-fill-color: inherit;
  object-fit: fill;
  background-color: #072440;
  background-clip: border-box;
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: Inter, sans-serif;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  overflow: visible;
}

.container-3 {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.navbar-wrapper-three {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.navbar-brand-three {
  z-index: 5;
  position: absolute;
}

.nav-menu-wrapper-three {
  width: 100%;
}

.nav-menu-three {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-menu-block {
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-link {
  color: var(--white);
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-link-accent {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: rgba(26, 27, 31, .75);
}

.button-primary {
  background-color: var(--dfx-red);
  color: #fff;
  text-align: right;
  letter-spacing: 2px;
  text-transform: capitalize;
  border-radius: 4px;
  flex: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  padding: 5px 10px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  transition: all .2s;
  display: block;
}

.button-primary:hover {
  background-color: var(--dfx-blue);
  color: var(--dfx-red);
}

.button-primary:active {
  background-color: #43464d;
}

.highlights-1 {
  background-color: var(--dfx-blue);
  border: 1px #000;
  padding: 100px 30px;
  position: relative;
}

.centered-heading {
  color: var(--white);
  text-align: center;
  margin-bottom: 16px;
}

.centered-subheading {
  max-width: 530px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.team-slider-wrapper {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 50px;
}

.team-slide-wrapper {
  width: 30%;
  margin-right: 5%;
}

.team-block {
  background-color: var(--dfx-blue);
  padding-bottom: 24px;
}

.team-member-image-two {
  margin-bottom: 18px;
}

.team-block-info {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.team-member-name-two {
  color: var(--white);
  margin-bottom: 12px;
  font-family: Inter, sans-serif;
  font-weight: 600;
}

.team-member-text {
  color: var(--white);
  margin-bottom: 20px;
  font-family: Inter, sans-serif;
}

.text-link-arrow {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed {
  margin-left: 2px;
  display: flex;
}

.team-slider-arrow {
  display: none;
}

.team-slider-nav {
  margin-top: 0;
  font-size: 10px;
  position: static;
  bottom: -60px;
}

.footer-dark {
  background-color: var(--dfx-blue);
  border: 1px #000;
  padding: 50px 30px 15px;
  position: relative;
}

.footer-wrapper {
  max-width: 1200px;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.title-small {
  color: var(--white);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.footer-link {
  color: var(--white);
  margin-top: 12px;
  margin-bottom: 6px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: var(--dfx-red);
}

.footer-link.adress:hover {
  color: var(--white);
}

.footer-social-block {
  justify-content: flex-start;
  align-items: center;
  margin-top: 60px;
  margin-left: 0;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-divider {
  width: 100%;
  height: 1px;
  background-color: #e4ebf3;
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer-copyright-center {
  color: var(--white);
  text-align: center;
  border: 1px #000;
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.hero-subscribe-left {
  height: 100vh;
  background-color: var(--dfx-blue);
  border: 1px #000;
  border-radius: 0;
  padding: 80px 30px;
  position: relative;
}

.hero-wrapper {
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  display: flex;
}

.hero-split {
  max-width: 100%;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.margin-bottom-24px {
  color: var(--white);
  text-align: left;
  margin-bottom: 24px;
  font-family: Inter, sans-serif;
}

.hero-form {
  margin-bottom: 12px;
}

.hero-form-container {
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.hero-form-input {
  width: 240px;
  height: auto;
  color: #1a1b1f;
  border: 1px solid #d1d6db;
  margin-bottom: 0;
  margin-right: 9px;
  padding: 5px 16px;
  font-size: 14px;
  line-height: 20px;
  transition: all .2s;
}

.hero-form-input:hover, .hero-form-input:focus {
  border-color: #76879d;
}

.hero-form-input::-ms-input-placeholder {
  color: rgba(26, 27, 31, .8);
}

.hero-form-input::placeholder {
  color: rgba(26, 27, 31, .8);
}

.shadow-two {
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.text-block-2 {
  color: var(--white);
}

.hero-heading-right {
  background-color: var(--dfx-blue);
  border: 0 #000;
  padding: 20px 30px;
  position: relative;
}

.hero-heading-left {
  background-color: var(--dfx-red);
  border: 1px #000;
  padding: 20px 30px;
  position: relative;
}

.html-embed {
  width: 100%;
  justify-content: center;
  display: flex;
}

.heading {
  color: var(--white);
  text-align: left;
  justify-content: center;
  align-items: flex-start;
  font-family: Inter, sans-serif;
  display: block;
}

.margin-top-24px {
  color: var(--white);
  text-align: right;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 0;
  padding-left: 0;
  font-family: Inter, sans-serif;
  display: block;
}

.logos-without-title {
  background-color: var(--dfx-blue);
  border: 1px #000;
  padding: 60px 30px;
  position: relative;
}

.clients-wrapper-three {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: -10px;
  display: flex;
}

.clients-image-three {
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.logos-title-small {
  background-color: var(--dfx-blue);
  border: 1px #000;
  padding: 60px 30px;
  position: relative;
}

.container-4 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.clients-tag {
  text-align: center;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 20px;
}

.clients-wrapper-three-2 {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: -10px;
  display: flex;
}

.clients-image-three-2 {
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.hero-subscribe-right {
  background-color: var(--dfx-blue);
  border: 1px #000;
  padding: 80px 30px;
  position: relative;
}

.container-5 {
  width: 100%;
  max-width: 1200px;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.hero-wrapper-2 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split-2 {
  max-width: 50%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.margin-bottom-24px-2 {
  margin-bottom: 24px;
}

.hero-form-2 {
  margin-bottom: 12px;
}

.hero-form-container-2 {
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.hero-form-input-2 {
  width: 240px;
  height: auto;
  color: #1a1b1f;
  border: 1px solid #d1d6db;
  margin-bottom: 0;
  margin-right: 9px;
  padding: 5px 16px;
  font-size: 14px;
  line-height: 20px;
  transition: all .2s;
}

.hero-form-input-2:hover, .hero-form-input-2:focus {
  border-color: #76879d;
}

.hero-form-input-2::-ms-input-placeholder {
  color: rgba(26, 27, 31, .8);
}

.hero-form-input-2::placeholder {
  color: rgba(26, 27, 31, .8);
}

.button-primary-2 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-2:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-2:active {
  background-color: #43464d;
}

.text-link-arrow-2 {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed-2 {
  margin-left: 2px;
  display: flex;
}

.shadow-two-2 {
  height: 100vh;
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.hero-heading-center {
  background-color: var(--dfx-blue);
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-6 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading-2 {
  text-align: center;
  margin-bottom: 16px;
}

.centered-heading-2.margin-bottom-32px {
  color: var(--white);
  margin-bottom: 32px;
  font-family: Inter, sans-serif;
}

.hero-wrapper-3 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split-3 {
  max-width: 46%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.margin-bottom-24px-3 {
  margin-bottom: 24px;
}

.button-primary-3 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-3:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-3:active {
  background-color: #43464d;
}

.shadow-two-3 {
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.highlight-2 {
  background-color: var(--dfx-blue);
  border: 1px #000;
  padding: 60px 30px;
  position: relative;
}

.container-7 {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.features-wrapper {
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.features-block {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.features-title {
  color: var(--white);
  margin-bottom: 8px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}

.features-title-small {
  font-size: 24px;
  line-height: 32px;
}

.text-block-3 {
  color: var(--white);
}

.navbar-no-shadow-container {
  z-index: 5;
  width: 100%;
  max-width: 1140px;
  background-color: var(--dfx-blue);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.container-regular {
  width: 100%;
  max-width: 1260px;
  min-height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
}

.nav-link-2 {
  color: var(--white);
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-2:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-link-2:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link-2[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-2 {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle-2 {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle-2:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle-2:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle-2[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon-2 {
  margin-right: 10px;
}

.nav-dropdown-list-2 {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list-2.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link-2 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link-2:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link-2[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-button-wrapper {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-content: space-between;
  margin-left: 120px;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.button-primary-4 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px 12px 30px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-4:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-4:active {
  background-color: #43464d;
}

.hero-heading-left-2 {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-8 {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-4 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split-4 {
  max-width: 46%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.margin-bottom-24px-4 {
  margin-bottom: 24px;
}

.button-primary-5 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-5:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-5:active {
  background-color: #43464d;
}

.shadow-two-4 {
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.navbar-logo-center-2 {
  color: var(--white);
  font-family: Inter, sans-serif;
}

.navbar-logo-center-container-2 {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.navbar-logo-center-container-2.shadow-three {
  width: 100%;
  max-width: 1200px;
  background-color: var(--dfx-blue);
  margin-left: auto;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.navbar-wrapper-three-2 {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.navbar-brand-three-2 {
  z-index: 5;
  position: absolute;
}

.nav-menu-wrapper-three-2 {
  width: 100%;
}

.nav-menu-three-2 {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-menu-block-2 {
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-link-3 {
  color: var(--white);
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  overflow: visible;
}

.nav-link-3:hover {
  color: var(--dfx-red);
}

.nav-link-3:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link-3[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link-3.w--current {
  margin-left: 0;
  margin-right: 0;
  font-weight: 700;
  text-decoration: none;
}

.nav-dropdown-3 {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle-3 {
  color: var(--white);
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle-3:hover {
  color: var(--dfx-red);
}

.nav-dropdown-toggle-3:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle-3[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon-3 {
  margin-right: 10px;
}

.nav-dropdown-list-3 {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list-3.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-list-3.shadow-three.mobile-shadow-hide {
  background-color: var(--dfx-blue);
  color: var(--white);
}

.nav-dropdown-link-3 {
  color: var(--white);
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link-3:hover {
  color: var(--dfx-red);
}

.nav-dropdown-link-3:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link-3[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-link-accent-2 {
  color: var(--white);
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent-2:hover {
  color: var(--dfx-red);
}

.hero-stack {
  background-color: var(--dfx-blue);
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-9 {
  width: 100%;
  max-width: 1200px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.hero-wrapper-two {
  max-width: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.margin-bottom-24px-5 {
  color: var(--white);
  margin-bottom: 24px;
  font-family: Inter, sans-serif;
}

.button-primary-6 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-6:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-6:active {
  background-color: #43464d;
}

.hero-image {
  width: 100%;
  margin-top: 50px;
}

.gallery-slider {
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.gallery-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.gallery-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.gallery-slide {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
}

.gallery-slide-wrapper {
  max-width: 47%;
  margin-right: 6%;
}

.gallery-slide-image {
  position: relative;
}

.gallery-image {
  width: 100%;
}

.gallery-slide-text {
  color: #f5f7fa;
  margin-bottom: 0;
  line-height: 32px;
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
}

.gallery-slider-left {
  width: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  left: -50px;
}

.gallery-slider-left:focus-visible {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.gallery-slider-left[data-wf-focus-visible] {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.slider-arrow-embed {
  color: #1a1b1f;
}

.gallery-slider-right {
  width: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  right: -50px;
}

.gallery-slider-right:focus-visible {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.gallery-slider-right[data-wf-focus-visible] {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.gallery-slide-nav {
  display: none;
}

.hero-without-image {
  background-color: var(--dfx-blue);
  border: 1px #000;
  padding: 0 30px 40px;
  position: relative;
}

.heading-2 {
  color: var(--white);
  flex: 0 auto;
  margin-top: 100px;
  margin-bottom: 40px;
  font-family: Inter, sans-serif;
}

.btc-circles {
  background-color: var(--dfx-blue);
  border: 1px #000;
  padding: 40px 30px;
  position: relative;
}

.centered-heading-3 {
  color: var(--white);
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
  font-family: Inter, sans-serif;
}

.centered-subheading-2 {
  max-width: 530px;
  color: var(--white);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.circles-grid {
  grid-column-gap: 64px;
  grid-row-gap: 56px;
  grid-template: "."
  / 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 0;
  display: grid;
}

.card {
  text-align: center;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  display: flex;
}

.team-member-image {
  width: 270px;
  height: 270px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 24px;
}

.team-member-name {
  color: var(--white);
  margin-bottom: 6px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

.team-member-position {
  margin-bottom: 24px;
}

.body {
  background-color: var(--dfx-blue);
}

.paragraph-2, .paragraph-3, .paragraph-4 {
  color: var(--white);
  font-family: Inter, sans-serif;
}

.hero-heading-center-2 {
  background-color: var(--dfx-red);
  border: 1px #000;
  margin-top: 100px;
  padding: 0 30px;
  position: relative;
}

.container-10 {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
}

.centered-heading-4 {
  text-align: center;
  margin-bottom: 16px;
}

.centered-heading-4.margin-bottom-32px {
  color: var(--white);
  margin-bottom: 32px;
  padding-top: 40px;
}

.hero-wrapper-5 {
  justify-content: space-around;
  align-items: stretch;
  display: flex;
}

.hero-split-5 {
  max-width: 46%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.margin-bottom-24px-6 {
  margin-bottom: 24px;
}

.button-primary-7 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-7:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-7:active {
  background-color: #43464d;
}

.shadow-two-5 {
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.footer-address {
  color: var(--white);
  text-decoration: none;
}

.hero-heading-left-3 {
  background-color: var(--dfx-blue);
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-11 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-6 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split-6 {
  max-width: 46%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.margin-bottom-24px-7 {
  color: var(--white);
  margin-bottom: 24px;
  font-family: Inter, sans-serif;
}

.button-primary-8 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-8:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-8:active {
  background-color: #43464d;
}

.shadow-two-6 {
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.heading-3 {
  color: var(--white);
  font-family: Inter, sans-serif;
}

.hero-heading-right-2 {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.margin-bottom-24px-8 {
  margin-bottom: 24px;
}

.features-list {
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-12 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.features-wrapper-two {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.features-left {
  max-width: 40%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.features-paragraph {
  color: var(--white);
  margin-bottom: 24px;
  font-family: Inter, sans-serif;
}

.text-link-arrow-3 {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed-3 {
  margin-left: 2px;
  display: flex;
}

.features-right {
  max-width: 46%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: -16px;
  display: flex;
}

.features-block-two {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
  display: flex;
}

.features-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 16px;
}

.heading-5 {
  color: var(--white);
  font-family: Inter, sans-serif;
}

.image-blue-wallet, .image-your-keys, .image-4, .image-5 {
  margin-right: 20px;
}

.link-block {
  margin-left: 10px;
  margin-right: 10px;
}

.image-6, .image-7 {
  margin-right: 20px;
}

.image-8 {
  margin-bottom: 20px;
}

.team-slider {
  background-color: var(--white);
  opacity: 1;
  mix-blend-mode: normal;
  border-bottom: 1px solid #e4ebf3;
  border-radius: 20px;
  padding: 10px 30px;
  position: relative;
}

.container-13 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading-5 {
  text-align: center;
  margin-bottom: 16px;
}

.centered-subheading-3 {
  max-width: 530px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.team-slider-wrapper-2 {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 50px;
}

.team-slide-wrapper-2 {
  width: 10%;
  margin-right: 5%;
}

.team-block-2 {
  background-color: rgba(0, 0, 0, 0);
  padding-bottom: 24px;
}

.team-member-image-two-2 {
  margin-bottom: 18px;
}

.team-block-info-2 {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.team-member-name-two-2 {
  margin-bottom: 12px;
  font-weight: 600;
}

.team-member-text-2 {
  margin-bottom: 20px;
}

.team-slider-arrow-2 {
  display: none;
}

.team-slider-nav-2 {
  margin-top: 24px;
  font-size: 10px;
  position: static;
  bottom: -60px;
  overflow: visible;
}

.container-14 {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.team-block-3 {
  background-color: #fff;
  padding-bottom: 24px;
}

.team-slider-nav-3 {
  margin-top: 24px;
  font-size: 10px;
  position: static;
  bottom: -60px;
}

.body-2 {
  background-color: var(--dfx-blue);
}

.link-block-2 {
  margin-right: 10px;
}

.link-block-3 {
  margin-right: 20px;
}

.image-9 {
  max-width: 50%;
  margin-top: 0;
}

.hero-stack-2 {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-15 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-two-2 {
  max-width: 750px;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 101px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.margin-bottom-24px-9 {
  color: var(--white);
  margin-bottom: 24px;
}

.button-primary-9 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-9:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-9:active {
  background-color: #43464d;
}

.hero-image-2 {
  width: 100%;
  margin-top: 50px;
}

.hero-without-image-2 {
  background-color: #072440;
  border-bottom: 1px #e4ebf3;
  padding: 10px 30px 0;
  font-family: Inter, sans-serif;
  position: relative;
}

.heading-6 {
  color: var(--white);
}

.hero-heading-left-4 {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.hero-wrapper-7 {
  max-width: 50%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split-7 {
  max-width: 46%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.margin-bottom-24px-10 {
  margin-bottom: 24px;
}

.shadow-two-7 {
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.background-video {
  max-width: 100%;
  object-fit: contain;
}

.margin-bottom-24px-11 {
  margin-bottom: 24px;
}

.background-video-2 {
  display: flex;
}

.team-slider-2 {
  background-color: var(--dfx-red);
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.centered-heading-6 {
  color: var(--white);
  text-align: center;
  margin-bottom: 16px;
}

.centered-subheading-4 {
  max-width: 530px;
  color: var(--white);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.team-slider-wrapper-3 {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 50px;
}

.team-slide-wrapper-3 {
  width: 30%;
  margin-right: 5%;
}

.team-block-4 {
  background-color: var(--dfx-blue);
  border-radius: 20px;
  padding-bottom: 24px;
}

.team-member-image-two-3 {
  margin-bottom: 18px;
}

.team-block-info-3 {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.team-member-name-two-3 {
  color: var(--white);
  margin-bottom: 12px;
  font-weight: 600;
}

.team-member-text-3 {
  color: var(--white);
  margin-bottom: 20px;
}

.text-link-arrow-4 {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed-4 {
  color: var(--white);
  margin-left: 2px;
  display: flex;
}

.team-slider-arrow-3 {
  display: none;
}

.team-slider-nav-4 {
  color: var(--dfx-red);
  margin-top: 24px;
  font-size: 10px;
  position: static;
  bottom: -60px;
}

.text-block-4, .text-block-5, .text-block-6, .text-block-7, .text-block-8, .text-block-9 {
  color: var(--white);
}

.team-slider-arrow-3-copy {
  display: none;
}

.testimonial-column-light {
  border: 1px #000;
  padding: 80px 30px;
  position: relative;
}

.centered-heading-7 {
  color: var(--white);
  text-align: center;
  margin-bottom: 16px;
}

.testimonial-grid-two {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 50px;
  display: grid;
}

.testimonial-card-two {
  border: 1px solid #e4ebf3;
  flex-direction: column;
  padding: 32px 16px 16px;
  display: flex;
}

.testimonial-text-two {
  height: 100px;
  color: var(--white);
  margin-bottom: 52px;
}

.testimonial-info-three {
  background-color: var(--dfx-red);
  align-items: center;
  padding: 24px 16px;
  display: flex;
}

.testimonial-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 0%;
  margin-right: 16px;
}

.testimonial-main-heading {
  color: var(--white);
  margin-bottom: 2px;
  font-weight: 600;
}

.link-2 {
  color: var(--white);
}

.container-16 {
  width: 100%;
  max-width: 1200px;
}

.logos-quote-block {
  background-color: var(--dfx-red);
  border-bottom: 1px solid #e4ebf3;
  padding: 0 30px;
  position: relative;
}

.container-17 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.clients-wrapper-two {
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.clients-card {
  width: 50%;
  background-color: var(--dfx-blue);
  border-radius: 20px;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.clients-quote {
  color: var(--white);
  margin-bottom: 24px;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
}

.clients-info {
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  display: flex;
}

.clients-info-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 24px;
}

.clients-grid {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: center;
  display: grid;
}

.text-block-10 {
  color: var(--white);
}

@media screen and (min-width: 1440px) {
  .statement.white {
    font-size: 90px;
    line-height: 100px;
  }

  .paragraph {
    text-align: left;
    margin-bottom: 0;
    font-family: Inter, sans-serif;
  }

  .paragraph.left {
    text-align: left;
    font-family: Inter, sans-serif;
  }

  .paragraph.centre {
    text-align: center;
  }

  .container-3 {
    max-width: 1200px;
  }

  .button-primary {
    margin-right: 0;
  }

  .footer-social-block {
    justify-content: space-between;
  }

  .footer-social-link {
    margin-left: 10px;
    margin-right: 10px;
  }

  .hero-heading-left.statement {
    background-color: var(--dfx-red);
  }

  .navbar-logo-center-container-2.shadow-three {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }

  .nav-link-3.w--current {
    margin-left: 0;
  }

  .heading-2 {
    margin-top: 100px;
  }

  .btc-circles {
    padding-bottom: 100px;
  }

  .circles-grid {
    grid-column-gap: 18px;
  }

  .team-member-image {
    width: 270px;
    height: 270px;
    max-height: none;
  }

  .paragraph-4 {
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    text-decoration: none;
  }

  .hero-heading-center-2 {
    padding-top: 20px;
  }

  .container-10 {
    margin-bottom: 100px;
  }

  .centered-heading-4.margin-bottom-32px {
    color: var(--dfx-red);
    margin-bottom: 10px;
  }

  .hero-heading-left-3 {
    border: 1px #000;
    text-decoration: none;
  }

  .container-11 {
    max-width: 1200px;
  }

  .hero-heading-right-2 {
    background-color: var(--dfx-blue);
    border: 1px #000;
  }

  .margin-bottom-24px-8, .heading-4 {
    color: var(--white);
    font-family: Inter, sans-serif;
  }

  .features-list {
    border: 1px #000;
    padding-top: 40px;
    padding-bottom: 100px;
  }

  .container-12 {
    max-width: 1200px;
  }

  .features-left {
    margin-bottom: 40px;
  }

  .features-paragraph {
    color: var(--white);
    margin-bottom: 10px;
    font-family: Inter, sans-serif;
  }

  .features-block-two {
    flex-direction: row;
    margin-bottom: 40px;
  }

  .heading-5 {
    color: var(--white);
    font-family: Inter, sans-serif;
  }

  .image-3 {
    margin-right: 20px;
    padding-right: 0;
  }

  .image-blue-wallet, .image-your-keys, .image-4 {
    margin-right: 20px;
  }

  .image-5 {
    padding-right: 40px;
  }

  .link-block {
    width: 100%;
  }

  .image-6, .image-7 {
    margin-right: 20px;
  }

  .image-8 {
    margin-bottom: 10px;
  }

  .div-block-4 {
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .image-9 {
    flex: 1;
    margin-top: 0;
    margin-left: 100px;
  }

  .testimonial-text-two {
    height: 100px;
  }

  .testimonial-image {
    border-radius: 0%;
  }

  .testimonial-main-heading, .link-2 {
    color: var(--white);
  }

  .hero-right {
    background-color: var(--dfx-red);
  }

  .logos-quote-block, .clients-card {
    font-size: 24px;
  }

  .clients-quote {
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
  }
}

@media screen and (max-width: 991px) {
  .max-400 {
    max-width: 500px;
  }

  .button-2 {
    margin-right: 10px;
  }

  .section.hero {
    padding-top: 100px;
    position: relative;
  }

  .statement.white {
    padding-top: 15px;
    padding-bottom: 20px;
    line-height: 90px;
  }

  .paragraph {
    max-width: 350px;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 20px;
    font-weight: 200;
  }

  .navbar-logo-center {
    z-index: 5;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .container-3 {
    max-width: 728px;
  }

  .navbar-wrapper-three {
    justify-content: space-between;
  }

  .navbar-brand-three {
    position: relative;
  }

  .nav-menu-wrapper-three {
    background-color: rgba(0, 0, 0, 0);
    top: 70px;
  }

  .nav-menu-three {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .team-slide-wrapper {
    width: 47%;
    margin-right: 6%;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .footer-block {
    padding-left: 40px;
  }

  .hero-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split {
    width: 100%;
    max-width: 100%;
    margin-bottom: 40px;
  }

  .clients-image-three {
    margin-bottom: 30px;
  }

  .container-4 {
    max-width: 728px;
  }

  .clients-image-three-2 {
    margin-bottom: 30px;
  }

  .container-5 {
    max-width: 728px;
  }

  .hero-wrapper-2 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split-2 {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .container-6 {
    max-width: 728px;
  }

  .hero-wrapper-3 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split-3 {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .container-7 {
    max-width: 728px;
  }

  .features-wrapper {
    justify-content: space-between;
  }

  .nav-menu-wrapper {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu {
    background-color: #fff;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    display: flex;
  }

  .nav-link-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list-2.shadow-three.w--open {
    position: absolute;
  }

  .nav-button-wrapper {
    width: 100%;
    margin-left: 0;
  }

  .menu-button-2 {
    padding: 12px;
  }

  .menu-button-2.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .container-8 {
    max-width: 728px;
  }

  .hero-wrapper-4 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split-4 {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .navbar-wrapper-three-2 {
    justify-content: space-between;
  }

  .navbar-brand-three-2 {
    position: relative;
  }

  .nav-menu-wrapper-three-2 {
    background-color: rgba(0, 0, 0, 0);
    top: 70px;
  }

  .nav-menu-three-2 {
    background-color: var(--dfx-blue);
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-link-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list-3.shadow-three.w--open {
    position: absolute;
  }

  .nav-dropdown-list-3.shadow-three.mobile-shadow-hide:hover, .nav-dropdown-link-3, .nav-dropdown-link-3:hover {
    color: var(--dfx-red);
  }

  .menu-button-3 {
    padding: 12px;
  }

  .menu-button-3.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .container-9 {
    max-width: 728px;
  }

  .gallery-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .gallery-slider-left {
    left: -20px;
  }

  .gallery-slider-right {
    right: -20px;
  }

  .circles-grid {
    grid-column-gap: 40px;
  }

  .team-member-image {
    width: 190px;
    height: 190px;
  }

  .container-10 {
    max-width: 728px;
  }

  .hero-wrapper-5 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split-5 {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .container-11 {
    max-width: 728px;
  }

  .hero-wrapper-6 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split-6 {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .container-12 {
    max-width: 728px;
  }

  .features-wrapper-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .features-left {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .features-right {
    max-width: 100%;
  }

  .container-13 {
    max-width: 728px;
  }

  .team-slide-wrapper-2 {
    width: 47%;
    margin-right: 6%;
  }

  .container-14, .container-15 {
    max-width: 728px;
  }

  .hero-wrapper-7 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split-7 {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .team-slide-wrapper-3 {
    width: 47%;
    margin-right: 6%;
  }

  .testimonial-grid-two {
    grid-column-gap: 30px;
  }

  .testimonial-info-three {
    flex-direction: column;
  }

  .image-10 {
    padding-left: 10px;
  }

  .hero-right {
    background-color: var(--dfx-red);
  }

  .container-17 {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand-three {
    padding-left: 0;
  }

  .nav-menu-three {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-menu-block {
    flex-direction: column;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .highlights-1 {
    padding: 60px 15px;
  }

  .footer-dark {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .footer-block {
    align-items: center;
  }

  .footer-link:hover {
    color: rgba(26, 27, 31, .75);
  }

  .footer-social-block {
    justify-content: center;
    margin-top: 20px;
    margin-left: 0;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }

  .hero-subscribe-left, .hero-heading-right, .hero-heading-left, .logos-without-title {
    padding: 60px 15px;
  }

  .clients-wrapper-three {
    margin-bottom: -30px;
  }

  .clients-image-three {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .logos-title-small {
    padding: 60px 15px;
  }

  .clients-wrapper-three-2 {
    margin-bottom: -30px;
  }

  .clients-image-three-2 {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .hero-subscribe-right, .hero-heading-center, .highlight-2 {
    padding: 60px 15px;
  }

  .features-wrapper {
    flex-wrap: wrap;
    margin-bottom: -40px;
  }

  .features-block {
    width: 50%;
    margin-bottom: 40px;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu {
    flex-direction: column;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .nav-link-2 {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown-2 {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list-2.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list-2.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list-2.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .mobile-margin-top-11 {
    margin-top: 10px;
  }

  .hero-heading-left-2 {
    padding: 60px 15px;
  }

  .navbar-brand-three-2 {
    padding-left: 0;
  }

  .nav-menu-three-2 {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-menu-block-2 {
    flex-direction: column;
  }

  .nav-link-3 {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown-3 {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle-3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list-3.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list-3.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list-3.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-link-accent-2 {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-12 {
    margin-top: 10px;
  }

  .hero-stack, .gallery-slider {
    padding: 60px 15px;
  }

  .gallery-slide {
    margin-left: 10px;
    margin-right: 10px;
  }

  .gallery-slide-text {
    line-height: 30px;
  }

  .gallery-slider-left {
    left: -20px;
  }

  .gallery-slider-right {
    right: -20px;
  }

  .hero-without-image, .btc-circles {
    padding: 60px 15px;
  }

  .circles-grid {
    grid-template-columns: 1fr 1fr;
  }

  .hero-heading-center-2, .hero-heading-left-3, .hero-heading-right-2, .features-list, .team-slider, .hero-stack-2, .hero-without-image-2, .hero-heading-left-4, .team-slider-2, .testimonial-column-light {
    padding: 60px 15px;
  }

  .testimonial-grid-two {
    grid-template-columns: 1fr;
  }

  .testimonial-info-three {
    flex-direction: row;
  }

  .image-10 {
    margin-left: 20px;
    padding-left: 0;
  }

  .logos-quote-block {
    padding: 60px 15px 0;
  }

  .clients-wrapper-two {
    flex-direction: column;
  }

  .clients-card {
    width: 100%;
    margin-bottom: 30px;
  }

  .clients-grid {
    grid-column-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 15px;
  }
}

@media screen and (max-width: 479px) {
  .statement.white {
    font-size: 60px;
    line-height: 70px;
  }

  .container-3 {
    max-width: none;
  }

  .nav-menu-three {
    flex-direction: column;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .team-slide-wrapper {
    width: 100%;
    margin-right: 0%;
  }

  .footer-social-block {
    text-align: center;
    justify-content: center;
    margin-left: 0;
  }

  .hero-form {
    align-self: stretch;
    margin-bottom: 15px;
  }

  .hero-form-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-form-input {
    width: 100%;
    height: 48px;
    margin-bottom: 10px;
  }

  .clients-wrapper-three {
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-items: center;
    margin-bottom: 0;
    display: grid;
  }

  .clients-image-three {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .container-4 {
    max-width: none;
  }

  .clients-wrapper-three-2 {
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-items: center;
    margin-bottom: 0;
    display: grid;
  }

  .clients-image-three-2 {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .container-5 {
    max-width: none;
  }

  .hero-form-2 {
    align-self: stretch;
    margin-bottom: 15px;
  }

  .hero-form-container-2 {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-form-input-2 {
    width: 100%;
    height: 48px;
    margin-bottom: 10px;
  }

  .container-6 {
    max-width: none;
  }

  .centered-heading-2 {
    margin-bottom: 24px;
  }

  .container-7 {
    max-width: none;
  }

  .nav-menu {
    flex-direction: column;
  }

  .nav-button-wrapper {
    width: auto;
  }

  .container-8 {
    max-width: none;
  }

  .nav-menu-three-2 {
    flex-direction: column;
  }

  .menu-button-3:hover {
    color: var(--dfx-red);
  }

  .container-9 {
    max-width: none;
  }

  .gallery-wrapper {
    grid-template-columns: 1fr;
  }

  .gallery-slide-wrapper {
    max-width: 100%;
    margin-right: 0%;
  }

  .gallery-slider-left {
    left: -20px;
  }

  .gallery-slider-right {
    right: -20px;
  }

  .centered-heading-3 {
    margin-bottom: 24px;
  }

  .circles-grid {
    grid-template-columns: 1fr;
  }

  .container-10 {
    max-width: none;
  }

  .centered-heading-4 {
    margin-bottom: 24px;
  }

  .centered-heading-4.margin-bottom-32px {
    font-family: Inter, sans-serif;
  }

  .container-11, .container-12 {
    max-width: none;
  }

  .features-paragraph {
    color: var(--white);
    font-family: Inter, sans-serif;
  }

  .features-right {
    margin-bottom: -30px;
  }

  .features-block-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  .features-image {
    margin-bottom: 10px;
  }

  .heading-5 {
    color: var(--white);
    font-family: Inter, sans-serif;
  }

  .container-13 {
    max-width: none;
  }

  .centered-heading-5 {
    margin-bottom: 24px;
  }

  .team-slide-wrapper-2 {
    width: 100%;
    margin-right: 0%;
  }

  .container-14, .container-15 {
    max-width: none;
  }

  .centered-heading-6 {
    margin-bottom: 24px;
  }

  .team-slide-wrapper-3 {
    width: 100%;
    margin-right: 0%;
  }

  .centered-heading-7 {
    margin-bottom: 24px;
  }

  .image-10 {
    margin-left: 10px;
    padding-left: 0;
  }

  .container-17 {
    max-width: none;
  }

  .clients-quote {
    font-size: 20px;
    line-height: 28px;
  }

  .clients-info-image {
    margin-right: 16px;
  }

  .clients-grid {
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr;
  }
}

#w-node-_3b722a7c-c9a5-b2c1-9d7d-2ebe959ea2cd-6b51fb63, #w-node-_3b722a7c-c9a5-b2c1-9d7d-2ebe959ea2d6-6b51fb63, #w-node-_3b722a7c-c9a5-b2c1-9d7d-2ebe959ea2e1-6b51fb63, #w-node-_194f121e-7c5c-7643-7277-8bec8035d217-ced3c30c, #w-node-_194f121e-7c5c-7643-7277-8bec8035d222-ced3c30c, #w-node-_194f121e-7c5c-7643-7277-8bec8035d22c-ced3c30c, #w-node-_8037e7d1-3265-72ee-b2d7-5a22c53a7b29-ced3c30c, #w-node-_8037e7d1-3265-72ee-b2d7-5a22c53a7b34-ced3c30c, #w-node-_8037e7d1-3265-72ee-b2d7-5a22c53a7b3b-ced3c30c, #w-node-_3b722a7c-c9a5-b2c1-9d7d-2ebe959ea2cd-b66b2aa3, #w-node-_3b722a7c-c9a5-b2c1-9d7d-2ebe959ea2d6-b66b2aa3, #w-node-_3b722a7c-c9a5-b2c1-9d7d-2ebe959ea2e1-b66b2aa3, #w-node-_9a0c9711-7a09-d428-0ad0-bad43b4440af-eeedc63f, #w-node-_9a0c9711-7a09-d428-0ad0-bad43b4440b9-eeedc63f, #w-node-_9a0c9711-7a09-d428-0ad0-bad43b4440c3-eeedc63f, #w-node-_3b722a7c-c9a5-b2c1-9d7d-2ebe959ea2cd-eeedc63f, #w-node-_3b722a7c-c9a5-b2c1-9d7d-2ebe959ea2d6-eeedc63f, #w-node-_3b722a7c-c9a5-b2c1-9d7d-2ebe959ea2e1-eeedc63f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (min-width: 1440px) {
  #w-node-_194f121e-7c5c-7643-7277-8bec8035d222-ced3c30c, #w-node-_194f121e-7c5c-7643-7277-8bec8035d22c-ced3c30c {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


