RewriteEngine On

# Weiterleitungen für das REF System zur API
RewriteRule ^app$ https://api.dfx.swiss/v1/app [R=301,L]
RewriteRule ^(.+)/app$ https://api.dfx.swiss/v1/app?orig=$1 [R=301,NC,L,QSA]
RewriteRule ^app/(.+)/(.+)$ https://api.dfx.swiss/v1/app/$1?code=$2 [R=301,NC,L,QSA]
RewriteRule ^app/(.+)$ https://api.dfx.swiss/v1/app/$1 [R=301,NC,L,QSA]

# Weiterleitung für alte Websiten
RewriteRule ^terms-and-conditions https://docs.dfx.swiss/en/tnc.html [R=301,L]
RewriteRule ^privacy-policy https://docs.dfx.swiss/en/privacy.html [R=301,L]
RewriteRule ^imprint https://docs.dfx.swiss/en/imprint.html [R=301,L]
RewriteRule ^de/ https://dfx.swiss/ [R=301,L]
RewriteRule ^en/ https://dfx.swiss/ [R=301,L]
RewriteRule ^fr/ https://dfx.swiss/ [R=301,L]
RewriteRule ^it/ https://dfx.swiss/ [R=301,L]
RewriteRule ^de$ https://dfx.swiss/ [R=301,L]
RewriteRule ^en$ https://dfx.swiss/ [R=301,L]
RewriteRule ^fr$ https://dfx.swiss/ [R=301,L]
RewriteRule ^it$ https://dfx.swiss/ [R=301,L]

# Weiterleitung für Services Direkt Links
RewriteRule ^buy-fox$ https://services.dfx.swiss/?mode=shapeshift&asset-out=Ethereum/ETH&amount-in=300 [R=301,L]