RewriteEngine On

# Weiterleitungen für das REF System zur API
RewriteRule ^app$ https://api.dfx.swiss/v1/app [R=301,L]
RewriteRule ^(.+)/app$ https://api.dfx.swiss/v1/app?orig=$1 [R=301,NC,L,QSA]
RewriteRule ^app/(.+)/(.+)$ https://api.dfx.swiss/v1/app/$1?code=$2 [R=301,NC,L,QSA]
RewriteRule ^app/(.+)$ https://api.dfx.swiss/v1/app/$1 [R=301,NC,L,QSA]

# Weiterleitung für alte Websiten
RewriteRule ^terms-and-conditions https://docs.dfx.swiss/en/tnc.html [R=301,L]
RewriteRule ^privacy-policy https://docs.dfx.swiss/en/privacy.html [R=301,L]
RewriteRule ^imprint https://docs.dfx.swiss/en/imprint.html [R=301,L]
RewriteRule ^de/ https://dfx.swiss/ [R=301,L]
RewriteRule ^en/ https://dfx.swiss/ [R=301,L]
RewriteRule ^fr/ https://dfx.swiss/ [R=301,L]
RewriteRule ^it/ https://dfx.swiss/ [R=301,L]
RewriteRule ^de$ https://dfx.swiss/ [R=301,L]
RewriteRule ^en$ https://dfx.swiss/ [R=301,L]
RewriteRule ^fr$ https://dfx.swiss/ [R=301,L]
RewriteRule ^it$ https://dfx.swiss/ [R=301,L]

# Weiterleitung für Services Direkt Links
RewriteRule ^buy-lightning$ https://services.dfx.swiss/?mode=lightning-wallets [R=301,L]
RewriteRule ^metamask$ https://services.dfx.swiss/?mode=only-metamask-wallet [R=301,L]
RewriteRule ^walletConnect$ https://services.dfx.swiss/?mode=only-walletconnect-wallet [R=301,L]
RewriteRule ^frankencoin$ https://services.dfx.swiss/?mode=frankencoin [R=301,L]

RewriteRule ^hardwareWallets$ https://services.dfx.swiss/?mode=hw-wallets [R=301,L]
RewriteRule ^ledger$ https://services.dfx.swiss/?mode=only-ledger [R=301,L]
RewriteRule ^bitbox$ https://services.dfx.swiss/?mode=only-bitbox [R=301,L]
RewriteRule ^trezor$ https://services.dfx.swiss/?mode=only-trezor [R=301,L]

RewriteRule ^cakeWallet$ https://services.dfx.swiss/?mode=only-cake-wallet [R=301,L]
RewriteRule ^moneroWallet$ https://services.dfx.swiss/?mode=only-monero-wallet [R=301,L]
RewriteRule ^commandLine$ https://services.dfx.swiss/?mode=only-cli-wallet [R=301,L]
